$primary:  #78246d;
$secondary: #e29d9d;
$font-openSans: 'Open Sans', sans-serif;
$text: #000000;
$bg-color: #fafafab4;
$text-color-white: #ffffff;


$margin-button: 5rem, 0;
$padding-button: 10rem, 0;
$rounded: 2rem;

